.historico-table-container {
  margin-top: 20px;
}

.search-input {
  margin-bottom: 10px;
  padding: 8px;
  width: 16.66%; /* 1/6 da tela */
  background-color: #EFEFEF;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.historico-table {
  width: 100%;
  border-collapse: collapse;
}

.historico-table th,
.historico-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
  cursor: pointer;
}

.historico-table th {
  background-color: #f2f2f2;
}

.historico-table th:hover {
  background-color: #e0e0e0;
}

.historico-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.btn-acoes button {
  padding: 10px 20px;
  display: inline-flex;
  width: 48%;
  justify-content: center;
}

.btn-acao button {
  padding: 10px 20px;
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

.header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.export-button {
  padding: 8px 16px;
  background-color: #4CAF50;
  width: 15%;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.export-button:hover {
  background-color: #45a049;
}